@media (min-width:900px){
    #content1{
        text-align: center;
        background-color:rgb(250, 250, 250);
    }
    .main_content1{
        width: 950px;
        margin: 0 auto;
    }
    .main_content2{
        width: 950px;
        margin: 0 auto;
    }
    .section1{
        text-align: center;
    }
    .section2{
        text-align: center;
        display: block;
        table-layout: fixed;
    }
    .section3{
        text-align: center;
    }
    .section4{
        text-align: center;
    }
    .small_title{
        font-size: 20px;
        font-weight: bold;
        margin-top: 20px;
    }
    .text1{
        margin: 0 auto;
        font-size: 37px;
        text-align: center;
        font-weight: bold;
        padding: 68px 0px;
    }
    .text2{
        width: 40%;
        margin: auto 0;
        margin-top: 0px;
        font-size: 17px;
        line-height: 1.5;
        color: rgb(94, 105, 101);
        text-align: left;
        display: inline-block;
        vertical-align: middle;
    }
    .text3{
        width: 82%;
        margin: 20px auto 30px auto;
        font-size: 17px;
        line-height: 1.5;
        color: rgb(94, 105, 101);
        text-align: left;
        display: inline-block;
        vertical-align: middle;
    }
    .main_text1{
        margin-right: 1%;
        display: inline-block;
        vertical-align: middle;
        font-size: 17px;
        line-height: 1.5;
        color: rgb(94, 105, 101);
        text-align: left;
        width: 40%;
        margin-bottom: 0px;
    }
    .main_text2{
        margin-right: 1%;
        display: inline-block;
        vertical-align: middle;
        font-size: 17px;
        line-height: 1.5;
        color: rgb(94, 105, 101);
        text-align: left;
        width: 770px;
        margin-bottom: 0px;
    }
    .I1{
        display: inline-block;
        vertical-align: middle;
        width: 40%;
    }
    .I3{
        margin: 20px auto;
        width: 640px;
        display: block;
    }
    .I4{
        display:inline-block;
        width: 446px;
        height: 226px;
        padding-bottom: 20px;
        vertical-align: middle;
    }
    .I5{
        width: 446px;
        height: 226px;
    }
    .T1{
        display: inline-block;
        vertical-align: middle;
        width: 40%;
        margin-top: 60px;
    }
    .T2{
        margin-left: 1%;
        display: inline-block;
        vertical-align: top;
        width: 50%;
        padding-left: 30px;
        padding-bottom: 30px;
    }
    .T2 th{
        line-height: 2;
    }
    .T2 td{
        margin: auto;
        text-align: center;
        line-height: 3;
        border-bottom: 1px solid black;
        vertical-align: middle;
    }
    table{
        border-collapse: separate;
        border-spacing: 1px;
        text-align: center;
        line-height: 1.5;
        border-top: 1px solid black;
        font-size: 12px;
        border-collapse: collapse;
    }
    td{
        margin: auto;
        text-align: center;
        line-height: 3.4;
        border-bottom: 1px solid black;
        vertical-align: middle;
    }
    th {
        line-height: 3.4;
        text-align: center;
        width: 350px;
        border-bottom: 1px solid black;
    }
    .teg{
        font-size: 12px;
        color: rgb(148, 169, 160);
        margin-bottom: 30px;
    }
    header{
        margin: auto;
        position: fixed;
         top: 0;
        left: 0;
        right: 0;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.1)0px 1px 3px 0px;
    }
    .main_header{
        width: 1440px;
        height: 89px;
        display: flex;
        justify-content: center;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }
    .header_icon{
        width: 100px;
        height: 100%;
        margin-left: 80px;
        padding: 0px 10px;
        display: block;
    }
    .header_menu{
        display: flex;
        height: 100%;
        margin-right: 65px;
        align-items: center;
    }
    .menu{
        height: 100%;
        padding: 0px 25px;
        font-size: 18px;
        line-height: 3;
        text-align: left;
        display: block;
        align-items: center;
        text-decoration: none;
    }
    .e{
        display: flex;
    }
    #list{
        display: flex;
    }
    #bsubmenu{
        margin-top: 30px;
        list-style: none;
        padding-left: 15px;
    }
    .header_box{
        margin-top:220px;
        display: inline;
        top: 89px;
        width: 100%;
        height: 110px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 3px 0px;
    }
    .header_img{
        margin-left: 5px;
    }
    .header_menu div:hover{
        border-bottom: 4px solid rgb(51, 168, 128);
    }
    .header_img{
        display: none;
    }
    .menu2{
        height: 100%;
        padding: 0px 25px;
        font-size: 18px;
        line-height: 3;
        text-align: left;
        display: block;
        align-items: center;
    }
    .sbox{
        padding-bottom: 16px;
    }
    .e .menu:hover{
        border-bottom: 4px solid rgb(51, 168, 128);
    }
    .e .sbox:hover{
        border-bottom: 4px solid rgb(51, 168, 128);
    }
    a{text-decoration: none;}
    a:visited { color: black; text-decoration: none;}
    a:hover { color: black; text-decoration: none;}
    .bbox{
        box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 3px 0px;
        height: 300px;
        background-color: white;
        width: 100%;
        display: flex;
        top: 100px;
    }
    #mheader_img{display: none;}
    .mmenu{display: none;}
    #menu_li{
        margin: 0 auto;
        padding-right: 290px;
        line-height: 60px;
        top: 89px;
        text-align: right;
    }
    .li_box{
        padding-left: 40%;
    }
    }footer{
        color: white;
        background-color: rgb(36, 49, 58);
        text-align: center;
        margin: 0 auto;
        width: 100%;
        height: 305px;
        background-color: rgb(36, 49, 58);
        display: flex;
    }
    .footer_container{
        width: 950px;
        padding-top: 40px;
        display: flex;
        margin: 0 auto;
        text-align: center;
    }

    .footer_img{
        padding-right: 61px;
        margin-bottom: auto;
    }
    .footer_ul1{
        width: 300px;
        display: inline-block;
        list-style: none;
        padding-left: 0px;
        text-align: left;
        vertical-align: middle;
        margin-bottom: auto;
    }
    .footer_ul2{
        width: 300px;
        display: inline-block;
        margin-top: -10px;
        list-style: none;
        padding-left: 100px;
        text-align: left;
        vertical-align: middle;
        margin-bottom: auto;
    }
    .footer_ul3{
        margin: 0 auto;
        list-style: none;
        display:flex;
        padding: 0;
    }
    .footer_box{
        height: 38px;
        border-radius: 4px;
        border: 1px solid white;
        display: flex;
        font-size: 14px;
        margin-bottom: 18px;
        color: white;
    }
    .footer_box_text{
        margin: auto;
    }
    .footer_text{
        font-size: 12px;
        line-height: 16px;
        text-align: justify;
        color: rgb(148, 169, 160);
    }
    .title{
        font-size: 40px;
        font-weight: bold;
        line-height: 1.9;
        text-align: center;
        margin-top: 70px;
        padding-top: 89px;
    }

body{
    text-align: center;
}
.highlight{
    color: rgb(51, 168, 128);
}
@media (max-width:900px){
    header{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 57px;
        display: flex;
        justify-content: center;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.1)0px 1px 3px 0px;
    }
    #header_container{
        width: 100%;
        display: inline-block;
        margin: auto 0px;
    }
    #mheader_img{
        width: 16.4px;
        display: inline-block;
        cursor: pointer;
        float: right;
        padding: 20px 20px 40px 143px;
    }
    #m2{
        background-color: rgb(36, 49, 58);
    }
    .mmenu{
        display: none;
    }
    .e{display: none;}
    .menu1-2 .hide{display: none;}
    #submenu{
        border-top: 6px solid rgb(51, 168, 128);
        color: white;
        cursor: pointer;
        font-size: 12px;
        line-height: 2.5;
        padding-left: 14px;
        padding-top: 10px;
        list-style: none;
        width: 100px; 
        margin: 10px 0px;
        text-decoration: none;
    }
    .me{
        height: 100%;
        display: inline;
        align-items: center;
        position: fixed;
        right: 0px;
        padding-top: 10px;
    }
    .mback{
        background-color: black;
        opacity: 0.5;
        height: 1000000px;
        top: 0px;
        margin:-50px 179px 0px 0px;
    }
    #myMenu{
        height: 100%;
        width: 139px;
        float: right;
        color: white;
        background-color: rgb(36, 49, 58);
    }
    .menu1-v{
        display: block;
        margin-left: 6px;
    }
    #menu0{
        display: block;
        margin: 30px 30px;
        float: right;
    }
    a:visited { color: white; text-decoration: none;}
    a:hover { color: white; text-decoration: none;}
    .menu1{
        color: white;
        cursor: pointer;
        font-size: 20px;
        line-height: 1.1;
        display:block;
        width:80px;
        float: left;
        padding-bottom: 20px;
        text-align:left; 
        position:relative; 
        }
    .menu1-2{
        color: white;
        cursor: pointer;
        font-size: 20px;
        line-height: 1.1;
        display:contents;
        width:80px;
        float: left;
        padding-bottom: 20px;
        text-align:left; 
        position:relative;  
        }
    #menu_li{
        display: none;
    }
    .header_icon{
        width: 80px;
        margin-left: 20px;
        margin-top: 20px;
        padding: 0px;
        cursor: pointer;
        display: inline-block;
    }
    .header_menu{
        display: none;
        height: 100%;
        margin-right: 65px;
        align-items: center;
    }
    .menu{
        height: 100%;
        padding: 10px 25px;
        font-size: 18px;
        line-height: 1.11;
        text-align: left;
        display: flex;
        align-items: center;
    }
    .main_content1{
        text-align: center;
        width: calc(100% - 60px);
        max-width: 300px;
        margin: 0 auto;
    }
    #content1{
        text-align: center;
        background-color:rgb(250, 250, 250);
    }
    .text1{
        font-size: 25px;
        margin: 0 auto;
        text-align: center;
        font-weight: bold;
        padding: 30px 0px;
    }
    .title{
        font-size: 27px;
        font-weight: bold;
        line-height: 1.9;
        text-align: center;
        margin-top: 70px;
        padding-top: 30px;
    }
    .small_title{
        float: left;
        font-size: 20px;
        color: black;
        font-weight: bold;
    }
    .small_title2{
        margin-top: 15px;
        float: left;
        font-size: 17px;
        color: black;
        font-weight: bold;
    }
    .small_title3{
        float: left;
        font-size: 20px;
        color: black;
        font-weight: bold;
        margin-top:40px
    }
    .text2{
        margin: auto 0;
        margin-top: 0px;
        font-size: 17px;
        line-height: 1.5;
        color: rgb(94, 105, 101);
        text-align: left;
    }
    .text3{
        font-size: 14px;
        line-height: 1.5;
        color: rgb(94, 105, 101);
        text-align: left;
    }
    .main_text1{
        font-size: 14px;
        line-height: 1.5;
        color: rgb(94, 105, 101);
        text-align: left;
    }
    .I1{
        width: 300px;
    }
    .I3{
        margin: 20px auto;
        width: 300px;
        display:block;
    }
    .I4{
        display:inline-block;
        margin: 10px auto;
        vertical-align: middle;
    }
    .I5{
        display:inline-block;
        margin: 20px auto;
        vertical-align: middle;
    }
    .T3{
        display:inline-block;
        margin: 0 auto;
        vertical-align: middle;
    }
    .T1{
        width: 300px;
    }
    .T2{
        margin-bottom: 30px;
        width: 100%;
    }
    table{
        padding-bottom: 30px;
        border-spacing: 1px;
        line-height: 1.5;
        border-top: 1px solid black;
        font-size: 12px;
        border-collapse: collapse;
    }
    td{
        margin: auto;
        text-align: center;
        line-height: 2;
        border-bottom: 1px solid rgb(123, 124, 128);
        vertical-align: middle;
    }
    th {
        line-height: 2;
        text-align: center;
        border-bottom: 1px solid rgb(123, 124, 128);
    }
    .T2 th{
        width: 60px;
        font-size: 10px;
        color:rgb(123, 124, 128);
    }
    .T2 td{
        width: 60px;
        font-size: 12px;
        font-weight: bold;
        color: black;
        text-align: center;
    }
    .teg{
        margin: auto;
        text-align: left;
        display: inline-block;
        vertical-align: middle;
        font-size: 12px;
        line-height: 1.5;
        text-align: left;
        color: rgb(148, 169, 160);
        margin-bottom: 10px;
    }
    #content2{
        text-align: center;
        background-color: white;
    }
    .section2-1{
        text-align: center;
    }
    .section2-2{
        text-align: center;
    }
    .section2-3{
        text-align: center;
    }
    .main_content2{
        text-align: center;
        margin: 0 auto;
        width: calc(100% - 60px);
        max-width: 300px;
    }
    header{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 57px;
        display: flex;
        justify-content: center;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.1)0px 1px 3px 0px;
    }
    #header_container{
        width: 100%;
        display: inline-block;
        margin: auto 0px;
    }
    #mheader_img{
        width: 16.4px;
        display: inline-block;
        cursor: pointer;
        float: right;
        padding: 20px 20px 40px 143px;
    }
    #m2{
        background-color: rgb(36, 49, 58);
    }
    .mmenu{
        display: none;
    }
    a{text-decoration: none;}
    .e{display: none;}
    .menu1-2 .hide{display: none;}
    #submenu{
        border-top: 6px solid rgb(51, 168, 128);
        color: white;
        cursor: pointer;
        font-size: 12px;
        line-height: 2.5;
        padding-left: 14px;
        padding-top: 10px;
        list-style: none;
        width: 100px; 
        margin: 10px 0px;
    }
    .me{
        height: 100%;
        display: inline;
        align-items: center;
        position: fixed;
        right: 0px;
        padding-top: 10px;
    }
    .mback{
        background-color: black;
        opacity: 0.5;
        height: 1000000px;
        top: 0px;
        margin:-50px 179px 0px 0px;
    }
    #myMenu{
        height: 100%;
        width: 139px;
        float: right;
        color: white;
        background-color: rgb(36, 49, 58);
    }
    .menu1-v{
        display: block;
        margin-left: 6px;
    }
    #menu0{
        display: block;
        margin: 30px 30px;
        float: right;
    }
    .menu1{
        color: white;
        cursor: pointer;
        font-size: 20px;
        line-height: 1.1;
        display:block;
        width:80px;
        float: left;
        padding-bottom: 20px;
        text-align:left; 
        position:relative; 
        }
    .menu1-2{
        color: white;
        cursor: pointer;
        font-size: 20px;
        line-height: 1.1;
        display:contents;
        width:80px;
        float: left;
        padding-bottom: 20px;
        text-align:left; 
        position:relative;  
        }
    #menu_li{
        display: none;
    }
    .header_icon{
        width: 80px;
        margin-left: 20px;
        margin-top: 20px;
        padding-right: 400px;
        cursor: pointer;
        display: inline-block;
    }
    .header_menu{
        display: none;
        height: 100%;
        margin-right: 65px;
        align-items: center;
    }
    .menu{
        height: 100%;
        padding: 10px 25px;
        font-size: 18px;
        line-height: 1.11;
        text-align: left;
        display: flex;
        align-items: center;
    }
    footer{
        height: 100%;
        color: white;
        background-color: rgb(36, 49, 58);
        text-align: center;
        margin: 0 auto;
    }
    .footer_container{
        width: calc(100% - 60px);
        max-width: 300px;
        padding-top: 40px;
        display: flex;
        margin: 0 auto;
        text-align: center;
    }
    .footer_ul2{
        margin-left: auto;
        margin-top: -10px;
        line-height: 3;
        display: inline-block;
        vertical-align: middle;
    }
    .footer_ul3{
        padding: 0px 20px;
        font-size: 14.5px;
        margin: 0 auto;
        list-style: none;
        text-align: center;
        display: flex;
    }
    footer{
        height: 100%;
        color: white;
        background-color: rgb(36, 49, 58);
        text-align: center;
        margin: 0 auto;
        width: 100%;
        display: flex;
    }
    .footer_container{
        padding-top: 40px;
        display: inline;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 10px;
    }
    .footer_img{
        float: left;
        margin-bottom: 40px;
    }
    .footer_ul1{
        float: left;
        list-style: none;
        padding-left: 0px;
        text-align: left;
        margin-top: 0px;
        line-height: 1.5;
    }
    .footer_ul2{
        list-style: none;
        padding-left: 0px;
        text-align: left;
        vertical-align: middle;
    }
    .footer_ul3{
        margin: 0 auto;
        list-style: none;
        display:flex;
    }
    .footer_box{
        height: 38px;
        border-radius: 4px;
        border: 1px solid white;
        display: flex;
        font-size: 14px;
        margin-bottom: 18px;
        color: white;
    }
    .footer_box_text{
        margin: auto;
    }
    .footer_text{
        font-size: 12px;
        line-height: 16px;
        text-align: justify;
        color: rgb(148, 169, 160);
    }
}
footer{height: 100%;}