@media (min-width:800px){
    .main_content1{
        border: 1px black solid;
    }
    .main_content2{
        border: 1px black solid;
    }
    .text1{
        font-size: smaller;
        float: left;
        text-align: left;
        width: 40%;
        margin-bottom: 0px;
    }
    .text2{
        margin-top: 0px;
        font-size: smaller;
        float: left;
        text-align: left;
    }
    .main_text1{
        font-size: smaller;
        float: left;
        text-align: left;
        width: 40%;
        margin-bottom: 0px;
    }
    .main_text2{
        font-size: smaller;
        float: left;
        text-align: left;
        margin-bottom: 0px;
    }
    .I1{
        margin-top: -50px;
        width: 40%;
    }
    .I3{
        width: 51%;
        
    }
    .T1{
        float: right;
        width: 50%;
        margin-top: 80px;
        margin-bottom: 0px;
        margin-right: 50px;
    }
    .T2{
        float: right;
        width: 50%;
        margin-top: 40px;
        margin-bottom: 0px;
        margin-right: 50px;
    }
    
}
.text3{
    margin-top: 15%;
}

.title{
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#content1{
    background-color: lightgray;
    text-align: left;
}

/* .main_content1{
    margin-left: 30%;
    margin-right: 30%;
} */
/* .text1{
    text-align: center;
} */
.title2{
    text-align: center;
    padding-bottom: 15px;
    font-weight: bold;
    font-size: medium;
}
.I1{
    /* width: calc(100% -55px);
    max-width: auto; */
    height: auto;
    display: flex;
    margin-bottom: 5px;
}
table{
    display: inline-block;
    border-collapse: separate;
    border-spacing: 1px;
    text-align: center;
    line-height: 1.5;
    border-top: 1px solid black;
    margin : 20px 10px;
    font-size: 12px;
    padding: 2px;
    border-collapse: collapse;
}
tr{
    margin-top: auto;
    margin-bottom: auto;
}
td{
    border-bottom: 1px solid black;
}
th {
    width: 350px;
    vertical-align: top;
    border-bottom: 1px solid black;
}
#content2{
    background-color: white;
    text-align: left;
}
/* .main_content2{
    margin-left: 30%;
    margin-right: 30%;
} */
footer{
    background-color: darkslategray;
}
#footer_main_content{
    margin-left: 20%;
    margin-right: 20%;
    border: 1px black solid;
}