@media (min-width:800px){
    .main_content1{
        border: 1px black solid;
    }
    .main_content2{
        border: 1px black solid;
    }
    .text1{
        font-size: smaller;
        float: left;
        text-align: left;
        width: 40%;
        margin-bottom: 0px;
    }
    .text2{
        margin-top: 0px;
        font-size: smaller;
        float: left;
        text-align: left;
    }
    .main_text1{
        font-size: smaller;
        float: left;
        text-align: left;
        width: 40%;
        margin-bottom: 0px;
    }
    .main_text2{
        font-size: smaller;
        float: left;
        text-align: left;
        margin-bottom: 0px;
    }
    .I1{
        margin-top: -50px;
        width: 40%;
    }
    .I3{
        display: block;
        margin: 0 auto;
    }
    .T1{
        float: right;
        width: 50%;
        margin-top: 80px;
        margin-bottom: 0px;
        margin-right: 50px;
    }
    .T2{
        float: right;
        width: 50%;
        margin-top: 40px;
        margin-bottom: 0px;
        margin-right: 50px;
    }
    
}
.text3{
    margin-top: 15%;
}

.title{
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.main_content1{
    text-align: left;
    margin-right: 10%;
    margin-left: 10%;
}
#content1{
    background-color: lightgray;
}
.I3{
    display: block;
    margin: 0 auto;
}

table{
    display: inline-block;
    border-collapse: separate;
    border-spacing: 1px;
    text-align: center;
    line-height: 1.5;
    border-top: 1px solid black;
    margin : 20px 10px;
    font-size: 12px;
    padding: 2px;
    border-collapse: collapse;
}
tr{
    margin-top: auto;
    margin-bottom: auto;
}
td{
    border-bottom: 1px solid black;
}
th {
    width: 350px;
    vertical-align: top;
    border-bottom: 1px solid black;
}
#content2{
    background-color: white;
}
.main_content2{
    text-align: left;
    margin-right: 10%;
    margin-left: 10%;
}
footer{
    background-color: darkslategray;
}
#footer_main_content{
    text-align: left;
    margin-right: 10%;
    margin-left: 10%;
    border: 1px black solid;
}